body{
    background-color: #1e1e2f;
}

p{
    color: #ffffff;
}

button{
    background-color: #5eead4;
}

button:hover{
    background-color: #2dd4bf;
}

form {
  width: 50%;
}

#addSection{
    width: 120px;
    height: 80px;
}

#removeSection{
    width: 120px;
    height: 80px;
}

#removeIcon{
    width: 50%;
    height: 50%;
}

#addIcon{
    width: 50%;
    height: 50%;
}