body{
    background-color: lightgray;
}

#addSection{
    width: 120px;
    height: 80px;
}

#removeSection{
    width: 120px;
    height: 80px;
}

#removeIcon{
    width: 50%;
    height: 50%;
}

#addIcon{
    width: 50%;
    height: 50%;
}